
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    <div class="animate-dropdown">
        <!-- ========================================= BREADCRUMB ========================================= -->
                <div class="breadcrumb-nav-holder minimal">
                    <ul>
                        <li class="breadcrumb-item">
                            <a href="#">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item current">
                            <a href="#">Checkout</a>
                        </li>
                    </ul>
                </div><!-- .breadcrumb-nav-holder -->
        <!-- ========================================= BREADCRUMB : END ========================================= -->
    </div>*@

<div class="wrapper">

    <div>


        <section id="checkout-page">
            <div class="container">
                <div class="col-xs-12 no-margin">

                    <!--Order-->
                    <section id="your-order">
                        <h2 class="border h1">Order của bạn</h2>
                        <form>
                            <div class="row no-margin order-item">
                                <div class="col-xs-12 col-sm-1 no-margin">
                                    <a href="#" class="qty">4 x</a>
                                </div>
                                <div class="col-xs-12 col-sm-9 ">
                                    <div class="title"><a href="#"> Điện thoại iPhone 6S Plus 128GB (Vàng)</a></div>
                                    <div class="brand">sony</div>
                                </div>
                                <div class="col-xs-12 col-sm-2 no-margin">
                                    <div class="price">97,600,000  Đồng</div>
                                </div>
                            </div><!-- /.order-item -->
                        </form>
                    </section><!-- /#your-order -->
                    <div id="total-area" class="row no-margin">
                        <div class="col-xs-12 col-lg-4 col-lg-offset-8 no-margin-right">
                            <div id="subtotal-holder">
                                <ul class="tabled-data inverse-bold no-border">
                                    <li>
                                        <label>cart subtotal</label>
                                        <div class="value ">97,600,000 Đồng</div>
                                    </li>
                                    <li>
                                        <label>shipping</label>
                                        <div class="value">
                                            <div class="radio-group">
                                                <input class="le-radio" type="radio" name="group1" value="free"><i class="fake-box"></i> <div class="radio-label bold">Miễn phí  giao hàng</div><br>
                                                <input class="le-radio" type="radio" name="group1" value="local" checked=""><i class="fake-box"></i>  <div class="radio-label">local delivery<br><span class="bold">$15</span></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul><!-- /.tabled-data -->
                                <ul id="total-field" class="tabled-data inverse-bold ">
                                    <li>
                                        <label>order total</label>
                                        <div class="value">97,600,000 Đồng</div>
                                    </li>
                                </ul><!-- /.tabled-data -->
                            </div><!-- /#subtotal-holder -->
                        </div><!-- /.col -->
                    </div><!-- /#total-area -->


                    <form action="/Home/Checkout" class="form-horizontal" method="post" role="form" novalidate="novalidate">
                        <h2 class="border h1">Thông tin khách hàng :</h2>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="Ng__i_mua_:">Người mua :</label>
                            <div class="col-md-10">
                                <input class="form-control" id="buyer" name="buyer" required="required" type="text" value="Anh Hùng đẹp trai" aria-required="true">
                                <span class="field-validation-valid" data-valmsg-for="buyer" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="Ng__i_nh_n_:">Người nhận :</label>
                            <div class="col-md-10">
                                <input class="form-control" id="seller" name="seller" placeholder="Anh Hùng đẹp trai" required="required" type="text" value="Anh Hùng đẹp trai" aria-required="true">
                                <span class="field-validation-valid" data-valmsg-for="seller" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="" type="number">Điện thoại :</label>
                            <div class="col-md-10">
                                <input class="form-control" data-val="true" data-val-regex="Entered phone format is not valid." data-val-regex-pattern="(09)\d{8}|(01)\d{9}" data-val-required="Vui lòng cung cấp số điện thoại" id="phoneNumber" name="phoneNumber" required="required" type="number" value="0967893251" aria-required="true">
                                <span class="field-validation-valid" data-valmsg-for="phoneNumber" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="">Địa chỉ :</label>
                            <div class="col-md-10">
                                <input class="form-control" id="address" name="address" required="required" type="text" value="Hà Nạu" aria-required="true">
                                <span class="field-validation-valid" data-valmsg-for="address" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="Ghi_ch__:">Ghi chú :</label>
                            <div class="col-md-10">
                                <textarea class="form-control" cols="20" id="Note" name="Note" rows="2"></textarea>
                                <span class="field-validation-valid" data-valmsg-for="Note" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <section id="shipping-address">
                            <h2 class="border h1">shipping address</h2>
                            <div class="row field-row">
                                <div class="col-xs-12">
                                    <input class="le-checkbox big" type="checkbox"><i class="fake-box"></i>
                                    <a class="simple-link bold" href="#">ship to different address?</a>
                                </div>
                            </div><!-- /.field-row -->
                        </section><!-- /#shipping-address -->
                        <div id="payment-method-options">
                            <div class="payment-method-option">
                                <input class="le-radio" type="radio" name="group2" value="Direct"><i class="fake-box"></i>
                                <div class="radio-label bold ">
                                    Direct Bank Transfer<br>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rutrum tempus elit, vestibulum vestibulum erat ornare id.</p>
                                </div>
                            </div><!-- /.payment-method-option -->

                            <div class="payment-method-option">
                                <input class="le-radio" type="radio" name="group2" value="cheque"><i class="fake-box"></i>
                                <div class="radio-label bold ">cheque payment</div>
                            </div><!-- /.payment-method-option -->

                            <div class="payment-method-option">
                                <input class="le-radio" type="radio" name="group2" value="paypal"><i class="fake-box"></i>
                                <div class="radio-label bold ">paypal system</div>
                            </div><!-- /.payment-method-option -->
                        </div><!-- /#payment-method-options -->
                        <div class="place-order-button">
                            <input type="submit" class="le-button big" value="Đặt hàng">
                        </div><!-- /.place-order-button -->
                    </form>
                </div><!-- /.col -->
            </div><!-- /.container -->
        </section><!-- /#checkout-page -->


    </div>

</div><!-- /.wrapper -->
<!-- JavaScripts placed at the end of the document so the pages load faster -->

<script src="/template/assets/js/jquery-1.10.2.min.js"></script>
<script src="/template/assets/js/jquery-migrate-1.2.1.js"></script>

<script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
<script src="/template/assets/js/gmap3.min.js"></script>
<script src="/template/assets/js/bootstrap-hover-dropdown.min.js"></script>
<script src="/template/assets/js/owl.carousel.min.js"></script>
<script src="/template/assets/js/css_browser_selector.min.js"></script>
<script src="/template/assets/js/echo.min.js"></script>
<script src="/template/assets/js/jquery.easing-1.3.min.js"></script>
<script src="/template/assets/js/bootstrap-slider.min.js"></script>
<script src="/template/assets/js/jquery.raty.min.js"></script>
<script src="/template/assets/js/jquery.prettyPhoto.min.js"></script>
<script src="/template/assets/js/jquery.customSelect.min.js"></script>
<script src="/template/assets/js/wow.min.js"></script>
<script src="/template/assets/js/scripts.js"></script>
<script src="/js/xuliscript.js"></script>
<!-- For demo purposes – can be removed on production -->

<script type="text/javascript" src="/template/switchstylesheet/switchstylesheet.js">
</script>

<script>
    $(document).ready(function () {
        $(".changecolor").switchstylesheet({ seperator: "color" });
        $('.show-theme-options').click(function () {
            $(this).parent().toggleClass('open');
            return false;
        });
    });
    $(window).bind("load", function () {
        $('.show-theme-options').delay(2000).trigger('click');
    });
</script>
<!-- For demo purposes – can be removed on production : End -->
<script src="http://w.sharethis.com/button/buttons.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var url = "Xuligiohang/Addcart";
        $.ajax({
            url: url,
            type: 'Get',
            cache: false,
            data: { sp: value, quantity: sl },
            success: function (result) {
                $('.basket').html(result);
            },
        });
    });
</script>

<iframe src="https://c.sharethis.mgr.consensu.org/portal-v2.html" id="st_gdpr_iframe" title="GDPR Consent Management" style="width: 0px; height: 0px; position: absolute; left: -5000px;"></iframe><div id="stcpDiv" style="position: absolute; top: -1999px; left: -1988px;">ShareThis Copy and Paste</div><iframe id="nr-ext-rsicon" __idm_frm__="573" style="position: absolute; display: none; width: 50px; height: 50px; z-index: 2147483647; border-style: none; background: transparent;"></iframe><div id="eJOY__extension_root" style="all: unset;"></div><div id="stwrapper" class="stwrapper stwrapper4x" style="display: none;"><iframe allowtransparency="true" id="stLframe" class="stLframe" name="stLframe" frameborder="0" scrolling="no" src="https://ws.sharethis.com/secure/index.html"></iframe></div><div id="stOverlay" onclick="javascript:stWidget.closeWidget();"></div>