@model SellSmartPhone.Models.HandleCart.Cart
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Iconcart{
    <a class="dropdown-toggle" data-toggle="dropdown" href="/cart/index">
        <div class="basket-item-count">
            <img src="~/template/assets/images/icon-cart.png" alt="" />
        </div>
    </a>
}
@*thư viện ajax*@
<script src="~/Scripts/jquery-3.5.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<div id="Cart">
    @{ Html.RenderAction("Cart");}
</div>
<div style="height:30px;"></div>
@{ Html.RenderAction("productrelate","Home");}

<script>
    $(document).ready(function () {
        $(".changecolor").switchstylesheet({ seperator: "color" });
        $('.show-theme-options').click(function () {
            $(this).parent().toggleClass('open');
            return false;
        });
    });
    $(window).bind("load", function () {
        $('.show-theme-options').delay(2000).trigger('click');
    });
</script>