@model SellSmartPhone.Models.Nhacungcap
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/ADMIN/Views/Shared/_LayoutPage.cshtml";
}


    <form method="post">
        <div>
            <input name="IDNhacungcap" type="hidden" value="@Model.IDNhacungcap" />
        </div>
        <div>
            <span>Tên nhà cung cấp : </span>
            <input name="TenNhaungcap" value="@Model.TenNhaungcap" />
        </div>
        <div>
            <span>Số điện thoại : </span>
            <input name="phonenumber" value="@Model.phonenumber" />
        </div>
        <div>
            <span>Email :</span>
            <input name="email" value="@Model.email " />
        </div>
        <div>
           <button type="submit">Lưu</button>
           <a href=""><button>Hủy</button></a> 
        </div>
    </form>

