@model  List<SellSmartPhone.Models.Nhacungcap>
@{
    ViewBag.Title = "ListNcc";
    Layout = "~/Areas/ADMIN/Views/Shared/_LayoutPage.cshtml";
}

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Danh sách khách hàng bảo hành</h3>
                </div>
                @{
                    if (Model.Count() == 0)
                    {
                        <form method="post" action="Index">
                            <input name="name" type="text" placeholder="Nhập tên nha cung cap" />
                            <button type="submit" value="Search">Search</button>
                        </form>
                        <p>không có kết quả phù hợp</p>
                    }
                    else
                    {
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" class="sort" data-sort="name">Ten nha cung cap</th>
                                        <th scope="col" class="sort" data-sort="budget">Số điện thoai</th>
                                        <th scope="col">email</th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    <tbody class="list">
                                        <tr>
                                            <th scope="row">
                                                <div class="media align-items-center">
                                                    <div class="media-body">
                                                        <span class="name mb-0 text-sm">@item.TenNhaungcap</span>
                                                    </div>
                                                </div>
                                            </th>
                                            <td class="budget">
                                                @item.phonenumber
                                            </td>
                                            <th scope="row">
                                                <div class="media align-items-center">
                                                    <div class="media-body">
                                                        <span class="name mb-0 text-sm">@item.email</span>
                                                    </div>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="media align-items-center">
                                                    <div class="media-body">
                                                        <a href="/ADMIN/Guarantee/status?id=@item.IDNhacungcap">
                                                            ...chi tiết
                                                        </a>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                    </tbody>
                                }
                            </table>
                        </div>
                        <div>
                            <form method="post" action="Index">
                                <input name="name" type="text" placeholder="Nhập tên khách hàng" />
                                <button type="submit" value="Search">Search</button>
                            </form>
                        </div>

                    }
                }

            </div>
        </div>
    </div>
</div>


