
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*thư viện ajax*@
<script src="~/Scripts/jquery-3.5.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<div class="tab-holder">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" style="margin-bottom:10px;">
        <li class="active" id="all"><a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#listproduct" href="/home/listproduct">Nổi bật</a></li>
        <li id="new"><a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#listproduct" href="/home/listproductnew">Mới nhập</a></li>
        <li id="dis"><a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#listproduct" href="/home/listproductdiscount">Giảm giá</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="featured">
            <div class="container" id="listproduct">
                @{Html.RenderAction("listproduct"); }
            </div>
            <div class="loadmore-holder text-center">
                <div id="sphotlink">
                    <a class="btn-loadmore" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#listproduct" href="/home/getmore">
                        <i class="fa fa-plus"></i>
                        Tải thêm
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderAction("productrelate");}
<script>
    $("#all").click(function () {
        this.classList.add("active");
        var element = document.getElementById("new");
        element.classList.remove("active");
        var element1 = document.getElementById("dis");
        element1.classList.remove("active");
    })
    $("#new").click(function () {
        this.classList.add("active");
        var element = document.getElementById("all");
        element.classList.remove("active");
        var element1 = document.getElementById("dis");
        element1.classList.remove("active");
    })
    $("#dis").click(function () {
        this.classList.add("active");
        var element = document.getElementById("new");
        element.classList.remove("active");
        var element1 = document.getElementById("all");
        element1.classList.remove("active");
    })
    document.title = 'Trang chủ'
</script>


