
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ADMIN/Views/Shared/_LayoutPage.cshtml";
}
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Thông tin bảo hành</h3>
                </div>
                <form method="post">
                    <input name="name" type="text" placeholder="Nhập tên khách hàng" />
                    <button type="submit" value="Search">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>