@model IEnumerable<SellSmartPhone.Models.LoaiSP>

@foreach (var item in Model)
{
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/search/index/@item.MaLoai">@item.TenLoai</a></li>
}
