
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Iconcart{
    @{ Html.RenderAction("viewBasket", "navbar");}
}
<script language="javascript" src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<meta name="google-signin-client_id" content="940653054889-kegoojrlbqo5qh74s25761rpr9jb6vl8.apps.googleusercontent.com">
<main id="authentication" class="inner-bottom-md">
    <div class="container">
        <div class="row" style="border-color:cadetblue;border-style:double;border-radius:20px">

            <div>
                @if (TempData["AlertMessage"] != null)
                {
                    <div id="AlertBox" class="alert @TempData["AlertType"] ">
                        @TempData["AlertMessage"]
                    </div>
                }
            </div>

            <div class="col-md-6">
                <section class="section sign-in inner-right-xs">
                    <h2 class="bordered">Sign In</h2>
                    <p>Hello, Welcome to your account</p>

                    <div class="social-auth-buttons">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="g-signin2" data-onsuccess="onSignIn" id="logingg"></div>
                            </div>
                        </div>
                    </div>
                    <form method="post" role="form" class="login-form cf-style-1">
                        <div class="field-row">
                            <label>Email</label>
                            <input type="email" name="EmailLogin" required="" class="le-input" value="Khachhang1@gmail.com">
                        </div><!-- /.field-row -->

                        <div class="field-row">
                            <label>Password</label>
                            <input type="password" name="Password" required="" class="le-input" value="1">
                        </div><!-- /.field-row -->

                        <div class="field-row clearfix">
                            @*<span class="pull-left">
                                    <label class="content-color"><input type="checkbox" class="le-checbox auto-width inline"> <span class="bold">Remember me</span></label>
                                </span>*@
                            <span class="pull-right">
                                <a href="/Register/ForgetPassword" class="content-color bold">Forgotten Password ?</a>
                            </span>
                        </div>

                        <div class="buttons-holder">
                            <button type="submit" class="le-button huge">Secure Sign In</button>
                        </div><!-- /.buttons-holder -->
                    </form><!-- /.cf-style-1 -->

                </section><!-- /.sign-in -->
            </div><!-- /.col -->

            <div class="col-md-6" style="background-image:url(/image/System/black-iphone-7-on-brown-table-699122.jpg);background-size:100%;border-radius:3%">
                <section class="section register inner-left-xs">
                    <h2 class="bordered">Create New Account</h2>
                    <p>Create your own Media Center account</p>

                    <form role="form" class="register-form cf-style-1">
                        <div class="field-row">
                            <label style="color:cornflowerblue;font-size:18px">If you do not have an account</label>
                        </div><!-- /.field-row -->

                        <div class="field-row">
                            <a href='@Url.Action("Index", "Register")'>
                                <input class="le-button huge" type='button' value='Sign Up' style="width:50%" />
                            </a>
                        </div><!-- /.buttons-holder -->
                    </form>
                    <h2 class="semi-bold">Sign up today and you'll be able to :</h2>

                    <ul class="list-unstyled list-benefits">
                        <li><i class="fa fa-check primary-color"></i> Speed your way through the checkout</li>
                        <li><i class="fa fa-check primary-color"></i> Track your orders easily</li>
                        <li><i class="fa fa-check primary-color"></i> Keep a record of all your purchases</li>
                    </ul>

                </section><!-- /.register -->

            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</main><!-- /.authentication -->
<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log("Start...");
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        console.log("END..........");
        var dataToSend = {
            Name: profile.getName(),
            Id: profile.getId(),
            Email: profile.getEmail(),
            Image: profile.getImageUrl()
        };

        $.ajax({
            url: '/Login/confirm',
            type: 'POST',
            data: dataToSend,
            success: function () {
                window.location.href = '/home/index'
            }
        });

    }
</script>
